<%-include("../admin/layouts/header.ejs")  %>
   
<style>

   

  .container{
      height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    }
  .box{
    border-radius: 20px;
      width: 850px;
  height: auto;
  background-color: rgb(243, 241, 239);
  position: relative;
    left: 25px;
  
  }
  a{
    text-decoration: none;
  
    padding-bottom: 13px;
  }

  .inp{
        margin-left:26px;
   
        padding: 8px;
        width: 90%;
    }
    .inp1{
        margin-left:26px;
   
        padding: 8px;
        width: 90%;
    }
    h1{
        text-align: center;
    }

    .but{
        margin-left: 370px;
        background-color: rgb(20, 61, 194);

    }

   h5{
    position: relative;
    left: 25px;
    color: rgb(21, 22, 24);
    
   }


  
</style>

<body>
  
<div class="container">
<div class="box">

    <% if(typeof message !== 'undefined'){ %>
        <h2 id="er2" style=    "  color:rgb(32, 29, 218);text-align: center;"><%= message %></h2>
        <% } %>
    
<form  name= "myFornm" action="" method="post">  

  
    <h1 class="h11" style="color: rgb(4, 9, 14);">EDIT COUPON</h1> 
    <h5>Enter coupon code</h5>
   <input class="inp" type="text" id="code" name="code" placeholder="coupon code"  value="<%=coupon.code %>" required>
   <p id="er1" style="color: red;text-align: center;"></p>
    <h5>Expire Date</h5>
   <input class="inp" type="date" id="date" name="date" placeholder="Enter Expire Date"   required >
   <p id="er2" style="color: red;text-align: center;"></p>

   <% if(typeof alert !== 'undefined'){ %>
    <p id="er2" style="color: red;text-align: center;"><%= alert%></p>
    <% } %>

         <h5>Enter Discount Amount</h5>
   <input class="inp" type="number" id="amount" name="amount" placeholder=" Discount Amount"   value="<%=coupon.
   discountAmount
    %>" required>
   <p id="er4" style="color: red;text-align: center;"></p>
    <h5>Enter Cart Amount</h5>
   <input class="inp" type="number" id="cartAmount" name="cartAmount"  placeholder="Cart Amount" value="<%=coupon.
   maxCartAmount
     %>" required>
   <p id="er5" style="color: red;text-align: center;"></p>

 <h5>Enter Maximum Discount Amount</h5>
<input class="inp" type="number" id="discountAmount" name="discountAmount" placeholder="Maximum Discount Amount" value="<%=coupon.maxDiscountAmount%>" required>
<p id="er6" style="color: red;text-align: center;"></p>

<h5>Enter Coupon Count</h5>
<input class="inp" type="number" id="couponCount" name="couponCount" placeholder="Coupon Count" value="<%=coupon.
maxUsers
  %>" required>
<p id="er7" style="color: red;text-align: center;"></p>



   <% if(typeof message !== 'undefined'){ %>
    <p id="er2" style=    "  color:rgb(14, 211, 80);text-align: center;"><%= message %></p>
    <% } %>
   <input class="btn btn-success but" type="submit" onclick="validation()" value="submit">
   
</form> 





</div>
</div>



<!-- js validation -->

<script>
       
    function validation() {
        const code= document.getElementById("code").value;
        const date = document.getElementById("date").value;
        const discountType=document.getElementById("discountType").value;
        const amount=document.getElementById("amount").value;
        const cartAmount = document.getElementById("cartAmount").value;
        const discountAmount=document.getElementById("discountAmount").value;
        const couponCount=document.getElementById("couponCount").value;
    

        
        
           
    
        if (code === "") {
            document.getElementById('er1').innerText='coupon code must be filled out '


        }
        if (date === "") {
            document.getElementById('er2').innerText='Expire Date must be filled out '
        }

        if (discountType==="")
        {
            document.getElementById("er3").innerText="Discount Type must be filled out "
        }
        if (amount === "") {
            document.getElementById('er4').innerText='Discount Amount must be filled out '  
        }


        if (cartAmount === "") {
            document.getElementById('er5').innerText='Cart Amount must be filled out '
        }

        if(discountAmount==="")
        {
            document.getElementById("er6").innerText="Maximum Discount Amount must be filled out"
        }
   
        if(couponCount==="")
        {
            document.getElementById("er7").innerText="Coupon Count must be filled out"
        }
   
   
   
    }


      

  </script>

<%-include("../admin/layouts/footer.ejs")  %>