<%-include("../admin/layouts/header.ejs") %>
            <div class="col-12 " >
    
                <div class="bg-secondary rounded h-100 p-4 m-3">
                  <a href="/admin/addCoupon" >  <button type="button" class="btn btn-warning" style="border-radius:30p ;">  ADD-NEW-Coupon   </button>  </a>
                    <h3 class="mb-4" style="color: rgb(20, 220, 203);">Coupon Detailes</h3>
                    
                    <div class="table-responsive">
                        <table class="table" style="color: rgb(22, 26, 29);">
                            <thead>
                                <tr style="background-color: rgb(206, 169, 22);">
                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Discount Amount</th>
                                    <th scope="col">Expire Date</th>
                                    <th scope="col">Max Cart Amount</th>
                                    <th scope="col">Max Discount</th>
                                    <th scope="col">coupon Count</th>
                                    <th scope="col">Delete</th>
                                   
                                    <th scope="col" >Edit</th>
                                </tr>
                            </thead>
                            <body>

                                <tbody style="background-color:white">
                                    <%for(let i=0 ; i< couponData.length ; i++){%>
                                        <tr class="text-gray-700 dark:text-gray-400">
        
        
                                            <div>

                                                <td class="px-4 py-3">

                                                    
                                                    <div class="flex items-center text-sm">
                                                        <!-- Avatar with inset shadow -->
                                                        
                                                        <div>
                                                            <p class="font-semibold">
                                                                <%=couponData[i].code %>
                                                            
                                                            </p>
        
                                                        </div>
                                                    </div>
                                                </td>
        
        
                                            </div>
                                            <td class="px-4 py-3">
                                                <div class="flex items-center text-sm">
                                                    <!-- Avatar with inset shadow -->
        
                                                    <div>
                                                        <p class="font-semibold">
                                                            <%=couponData[i]. discountAmount %>
                                                        </p>
        
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-4 py-3 text-sm ">
        
                                                <%=couponData[i]. expiryDate.toString().substring(0,10) %> 
        
        
                                            </td>
                                            <td class="px-4 py-3 text-sm">
                                                <%=couponData[i]. maxCartAmount %>
                                            </td>
        
                                            <td class="px-4 py-3 text-xs">
                                                
                                                <%=couponData[i].maxDiscountAmount %>     
        
                                            </td>
                                            <td class="px-4 py-3 text-sm">
                                                <%=couponData[i].maxUsers %>
                                            </td>

                                            <td>
                                            <a href="/admin/deleteCoupon?id=<%=couponData[i]._id  %>"><button type="button" class="btn btn-danger">Delete</button></a>
                
                                            </td>
                                            
                                            
                                        
                                               
                                            
                                                 
                                
                                            </td>
                                            <td>
                                                <div class="flex items-center space-x-4 text-sm">
                                                    <a href="/admin/editCoupon?id=<%=couponData[i]._id %>"><button
                                                        type="button" class="btn btn-primary" >EDIT</button> </a>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <% } %>
                                </tbody> 
                           
                                
                                    
                                
                
                
                                
                              
                            </body>
                        </table>
                    </div>
                </div>
            </div>
            <style> 
                #addproduct{
                    float: right;
                }


                
                </style>



            <!-- product page End -->


         
            
        </div>
        <!-- Content End -->


       
<%-include("../admin/layouts/footer.ejs")  %>