
<%-include("../admin/layouts/header.ejs")  %>
                <!--================ confirmation part start =================-->
            
                <section class="confirmation_part mt-5">
                  <div class="container">
            
               
                    
                    <div class="row">
                      <div class="col-lg-12">
                        
                        <div class="order_details_iner">
                          <div class="order_box">
                            <h3> <u>Customer Address :</u></h3>
                         
                            <%= orders.
                            deliveryDetails
                            %>
                       
                            
                          </div>
                          <br>
                          <h3>Order Details :</h3>
                          
                          <table class="table table-borderless">
                            <thead>
                              <tr>  
                                <th>No</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product image</th>
            
                                <th scope="col">Quantity</th>
                                <th scope="col">Status</th>
                                <th scope="col"> Amount</th>
            
            
                              </tr>
                            </the ad>
                            <tbody>
                              
                              <%  orders.products.forEach((value,index)=>{%>
            
            
                              
                              <tr>
                                <td><%=index+1%> </td>
            
                                <td><%=value.productId.name%></td>
                                <td> <a href="/product?id=<%=value.productId._id%>"><img style="width: 50px;height: 50px; margin-right: 20px;" src="img/<%=value.productId.image[0]%>" alt=""></a>
                                </td>
            
                                <td><%= value.count%></td>
            
                              
                                
                              <td ><%= orders.status%></td>
                              <td><%= value.productId.price%></td>
                                
                                
                              </tr>
                              
                              <%})%>
                              
                             
                              
                        
                            </tbody>
            
                            
                          </table>
            
                          
                        </div>
                      </div>
                    
            
                      
                    
                    
                  </div>
                  <br>
                  <div class="row">
                
                  <div  class="col-lg-12 ">
                    <div class="order_box">
                      <h2> Order Payement Deatails :</h2>
                      
                      <ul class="list list_2">
                      
                    
                        <li>
                     
                          <h3  style="color: red;">Grand Total= 
                            ₹<%=orders.
                            totalAmount
                            %>
                          </h3>
                        
                        </li>
                        <li>
                     <h4>Order_Id : <%=orders._id  %>  </h4>
                          
                          </li>
                          <li>
                     
                            <h4>Placed On :  <%=orders.date.toString().substring(0,10)
                                %>  </h4>
                          
                          </li>
                      </ul>
                     
                       
                    </div> 
                  </div>
                      
                </div>
                  </div>
                </section>
                
                <!--================ confirmation part end =================-->
            </main>
         
            
        </div>
        <!-- Content End -->

      
        

   <%-include("../admin/layouts/footer.ejs")  %>